#pieStatus {
   height: 350px !important;
   width: 350px !important;
}

#barStudent {
   height: 350px !important;
}

.stat-box:hover {
   background-color: lightgray;
   transition: 0.6s;
   text-decoration: none;
   color: white;
}
